redirects: on
source https://www.nuget.org/api/v2/

nuget Nuget.CommandLine
nuget FAKE
nuget FsPickler >= 3.0
nuget FsUnit 1.3.0.1
nuget NUnit ~> 2.6.3
nuget NUnit.Runners ~> 2.6.3
nuget Unquote 2.2.2
github fsharp/FAKE modules/Octokit/Octokit.fsx