type project
id Thespian
description
    An F# Actor Framework
authors
    Jan Dzik, Eirik Tsarpalis
copyright
	Copyright 2015
summary
    An F# Actor Framework
licenseurl https://github.com/nessos/Thespian/blob/master/License.md
projecturl https://github.com/nessos/Thespian
iconurl https://avatars1.githubusercontent.com/u/5538081
include-pdbs true
tags
    actors, agents, message-passing, distributed
references
    Thespian.dll